@import "helpers/variables";
@import "helpers/mixins";

* {
	box-sizing: border-box;
}
ul li {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: inherit;
}
html, body {
	width: 100%;
	height: 100%;
}
body {
  margin: 0;
  font: 400 12px 'Open Sans';
  color: #313131;
}
ul {
	margin: 0;
	padding: 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}
.empty {
	height: 370px;
}
.container {
	width: 1140px;
	margin: 0 auto;
	@extend %clearfix;
}
.block-title {
	font: 500 18px 'Gotham Pro';
	text-transform: uppercase;
	text-align: center;
	position: relative;
	margin-bottom: 60px;
	&:after {
		position: absolute;
		content: "";
		height: 1px;
		background-color: #313131;
		width: 190px;
		top: 47%;
		margin-left: 25px;
	}
	&:before {
		position: absolute;
		content: "";
		height: 1px;
		background-color: #313131;
		width: 190px;
		top: 47%;
		margin-left: -215px;
	}
}

@import "layout/header";
@import "layout/nav";
@import "layout/breadcrumbs";
@import "layout/sidebar";
@import "layout/aboutcompany";
@import "layout/articles";
@import "layout/footer";
@import "plugins/jquery-ui";
@import "plugins/fancybox";
@import "widgets/slider";
@import "widgets/tabs";
@import "pages/index";
@import "pages/product";
@import "common/fonts";
@import "common/sprite";