.aboutcompany
	.container
		.block-title О компании
		.aboutcompany__column.aboutcompany__column_left
			p.aboutcompany__text Добро пожаловать в парфюмерный магазин ОРАБЭЛЬ.
			p.aboutcompany__text Магазин парфюмерии ОРАБЭЛЬ – настоящий гипермаркет изделий, где каждый сможет найти для себя подходящий парфюм. Широчайший выбор, разнообразие ароматов и доступные цены — то, что мы предлагаем каждому нашему клиенту. Большой ассортимент женских и мужских духов выгодно выделяет магазин парфюмерии ОРАБЭЛЬ. В каталоге представлено более 40 тысяч продукций духов, выполненных в различных ароматических решениях – от классика до авангарда. Высочайшее качество парфюма, которые предлагает магазин парфюмерии ОРАБЭЛЬ, подтверждено авторитетом крупнейших производителей, входящих в число лидеров отрасли, с которыми мы сотрудничаем напрямую.
		.aboutcompany__column.aboutcompany__column_right
			p.aboutcompany__text Духи попадают в наши парфюмерные салоны после прохождения строгого контроля качества, что позволяет нам быть уверенными в том, что парфюм, купленные в ОРАБЭЛЬ, будет радовать своих обладателей. ОРАБЭЛЬ – магазин элитной парфюмерии с максимально доступными ценами. Прямое сотрудничество с производителями позволяет нам устанавливать лучшие цены на парфюмерию, которые приятно удивят наших покупателей. Специальные предложения, скидки и акции, которые проводит магазин парфюмерии ОРАБЭЛЬ, позволяют сделать приобретение духов еще выгодней.
			p.aboutcompany__text ОРАБЭЛЬ – ароматный шопинг еще никогда не был так приятен.