.articles
	.container
		.block-title Статьи
		ul.articles__list
			li.articles__item
				.article
					.article__header
						.article__date
							.article__day 06
							.article__month июня
						.article__title Аллергия на духи: как и почему?
					.article__text
						p.article__paragraph Внедрение в производство парфюмов новых технологий привело не только к увеличению разнообразия предлагаемых духов, но и к появлению у многих людей аллергии на ароматы и их ингредиенты. Причинами появления кожных раздражений могут стать красители, консерванты, загустители, отдушки, летучие вещества, а также индивидуальная непереносимость.
					a(href="#").article__link
						span.article__link-text Подробнее
						i.icon.icon-arrow-down
			li.articles__item
				.article
					.article__header
						.article__date
							.article__day 06
							.article__month июня
						.article__title Аллергия на духи: как и почему?
					.article__img-wrapper
						img(src="assets/img/article.jpg").article__img
					.article__text
						p.article__paragraph Внедрение в производство парфюмов новых технологий привело не только к увеличению разнообразия предлагаемых духов, но и к появлению у многих людей аллергии на ароматы и их ингредиенты.
					a(href="#").article__link
						span.article__link-text Подробнее
						i.icon.icon-arrow-down
			li.articles__item
				.article
					.article__header
						.article__date
							.article__day 06
							.article__month июня
						.article__title Аллергия на духи: как и почему?
					.article__text
						p.article__paragraph Внедрение в производство парфюмов новых технологий привело не только к увеличению разнообразия предлагаемых духов, но и к появлению у многих людей аллергии на ароматы и их ингредиенты. Причинами появления кожных раздражений могут стать красители, консерванты, загустители, отдушки, летучие вещества, а также индивидуальная непереносимость.
					a(href="#").article__link
						span.article__link-text Подробнее
						i.icon.icon-arrow-down