nav.nav
	.container
		- var items = ['Для женщин', 'Для мужчин', 'Подарочные наборы', 'Косметика', 'Духи с феромонами', 'Для дома', 'Распродажа']
			each item in items
				a(href="#" class="nav__link" + ((item == "Распродажа") ? ' nav__link_active' : ''))= item
