.popular-brands
	.container
		.block-title Популярные бренды
		.popular-brands__slider
			ul.brands__list#brands__slider
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/agonist.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/gucci.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/tomford.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/d&g.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/agonist.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/gucci.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/tomford.png").brands__img
				li.brands__item
					a(href="#").brands__link
						img(src="assets/img/brands/d&g.png").brands__img
				
			button(type="button").small-controls__btn.small-controls__btn_prev
			button(type="button").small-controls__btn.small-controls__btn_next