.subscribe
	.container
		.block-title Подпишитесь на рассылки
			br
			.block-title__bottom Чтобы быть в курсе выгодных акций
		form.subscribe__form
			input(type="text" name="").subscribe__input
			input(type="submit" name="" value="Подписаться").subscribe__submit